[user]
  name = {{ user.name }}
  email = {{ user.mail }}

{% if user.github is defined %}
[github]
  user = {{ user.github }}

{% endif %}
{% if user.gitlab is defined %}
[gitlab]
  user = {{ user.gitlab }}

{% endif %}
[core]
  editor = nano

[commit]
  template = ~/.git/gitCommitTemplate.txt

[alias]
  br = branch
  st = status
  co = checkout
  cob = checkout -b
  df = diff
  ci = commit
  cim = commit -m
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  p = push
  pfwl = push --force-with-lease
  undo = reset HEAD~
  cia = commit --amend
  cian = commit --amend --no-edit
