---
- hosts: test
  #localhost
  # connection: local
  # become: true

  # pre_tasks:
  #   - name: install python
  #     raw: test -e /usr/bin/python || (apt -qqy update && apt install -y python)
  #     register: output
  #     changed_when: output.stdout != ""
  # pre_tasks:       
  #   - name: Refresh apt cache
  #     become: no
  #     local_action: shell ssh -q -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ConnectTimeout=5 {{ inventory_hostname }} sudo apt-get update
       
  #   - name: Install Python-apt to pull in Python
  #     become: no
  #     local_action: shell ssh -q -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ConnectTimeout=5 {{ inventory_hostname }} sudo apt-get install --no-install-recommends --assume-yes python-ap

  tasks:
    - include_role:
        name: dotfiles